sudo: required
language: node_js
node_js:
  - "0.12"

before_install:
  - "curl -L https://git.io/ejPSng | /bin/sh"
  - "npm -g install mmongo"
  - "meteor create remote-app"
  - "cd remote-app"
  - "meteor npm install"
  - "meteor --port=3030 &"
  - "sleep 90;"
  - "mmongo run --eval 'db.createCollection('tests');db.tests.insert({name:'john doe'});exit'"

env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      -

before_script:
  - "echo before script"

script:
  - "meteor test-packages"

after_script:
  - "kill -9 `ps ax | grep node | grep meteor | awk '{print $1}'`"