sudo: required
language: node_js
node_js:
  - "0.10"

before_install:
  - "curl -L https://git.io/ejPSng | /bin/sh"
  - "meteor create remote-app"
  - "cd remote-app"
  - "meteor npm install"
  - "xterm -e 'meteor --port=3030'"

env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

before_script:
  - "meteor mongo"
  - "db.createCollection('tests')"
  - "db.tests.insert({name:'john doe'})"
  - "exit"

script:
  - "meteor test-packages jkuester:remote-collections"

after_script:
  - "kill -9 `ps ax | grep node | grep meteor | awk '{print $1}'`"