sudo: required
language: node_js
node_js:
  - "0.10"

before_install:
  - "curl -L https://git.io/ejPSng | /bin/sh"
  - "meteor create remote-app"
  - "cd remote-app"
  - "meteor install"
  - "meteor mongo"
  - "db.createCollection('tests')"
  - "db.tests.insert({name:'john doe'})"
  - "exit"
  - "meteor --port=3030"


env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8