sudo: required
language: node_js
node_js:
  - "0.12"

before_install:
  - sh ./install_remote_app.sh
  - cd remote-app
  - meteor --port=3030 &
  - cd ..
  - sh ./timeout.sh


env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8


script:
  - "spacejam test-packages ./"

after_script:
  - "kill -9 `ps ax | grep node | grep meteor | awk '{print $1}'`"